In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([[1, 2, 3, 4, 5],[2,3,4,5,6]])
newarr = arr.reshape(5,2)

df = pd.DataFrame(newarr)
df

   0  1
0  1  2
1  3  4
2  5  2
3  3  4
4  5  6

In [3]:
arra = np.arange(1,13)
df = pd.DataFrame(arra.reshape(3,4))
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [4]:
arr1 = np.array([1,2,3,4,5])
rev = arr1[::-1]
rev

array([5, 4, 3, 2, 1])

In [5]:
arr2 = np.arange(2,11)

arr = arr2.reshape(3,3)
arr

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [6]:
# How to get frequency counts of unique items of a series

In [7]:
x = [1,2,3,4,5,8,8,6,5,3,45,6,2,3,34,3,3,4]
y = pd.DataFrame(x)
y.value_counts()

0
3     5
2     2
4     2
5     2
6     2
8     2
1     1
34    1
45    1
Name: count, dtype: int64

In [8]:
data = {
    'A': [1, 2, np.nan],
    'B': [4, np.nan, 6],
    'C': [7, 8, 9]
}


df = pd.DataFrame(data)
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  6.0  9

In [9]:
df.fillna(df.mean())

     A    B  C
0  1.0  4.0  7
1  2.0  5.0  8
2  1.5  6.0  9

In [10]:
df.dropna()

     A    B  C
0  1.0  4.0  7

In [11]:
# How do you create a pandas series from list, numpy, array and dictionary

In [12]:
list1 = [1,22,3,90,5,7,8,5,3]

x = pd.Series(list1)
x

0     1
1    22
2     3
3    90
4     5
5     7
6     8
7     5
8     3
dtype: int64

In [13]:
nump = np.arange(1,11)

x = pd.Series(nump)
x

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [14]:
nump = np.array([1,223,4,5,7,8,4])

x = pd.Series(nump)
x

0      1
1    223
2      4
3      5
4      7
5      8
6      4
dtype: int32

In [22]:
data = {
    'A': [1, 2, np.nan],
    'B': [4, np.nan, 6],
    'C': [7, 8, 9]
}

y = pd.DataFrame(data)
y.isnull().sum()

A    1
B    1
C    0
dtype: int64

In [23]:
s = pd.Series([1,2,3,4,5,7,8])
pos = [1,3,6]
extr = s.iloc[pos]
extr

1    2
3    4
6    8
dtype: int64

In [31]:
a = np.array([1,2.2,3,3.4,5.5])
b = a.astype(int)
b

array([1, 2, 3, 3, 5])