In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Files/seed_data.csv')

In [3]:
df

,Area,Perimeter,Compactness,Kernel Length,Kernel Width,Asymmetry Coefficient,Groove Length,Class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,Kama
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,Kama
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,Kama
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,Kama
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,Kama
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,Canadian
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,Canadian
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,Canadian
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,Canadian
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,Canadian

In [4]:
df.head()

,Area,Perimeter,Compactness,Kernel Length,Kernel Width,Asymmetry Coefficient,Groove Length,Class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,Kama
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,Kama
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,Kama
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,Kama
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,Kama

In [5]:
df.isnull().sum()

Area                     0
Perimeter                0
Compactness              0
Kernel Length            0
Kernel Width             0
Asymmetry Coefficient    0
Groove Length            0
Class                    0
dtype: int64

##  Which wheat variety has the highest "Area"?

In [6]:
df[['Area','Class']].head(80)

     Area Class
0   15.26  Kama
1   14.88  Kama
2   14.29  Kama
3   13.84  Kama
4   16.14  Kama
..    ...   ...
75  16.77  Rosa
76  17.32  Rosa
77  20.71  Rosa
78  18.94  Rosa
79  17.12  Rosa

[80 rows x 2 columns]

In [7]:
max_index = df['Area'].idxmax()
print(max_index)
highest_variety = df.loc[max_index, 'Class']
highest_variety

88

'Rosa'